.container-flex {
    display: flex;

    justify-content: space-around;
    background-color: #202030;
}

.container-flex > * {
    color: #D5D4CA;

    text-decoration: none;
}

.container-flex > *:hover {
    /* background-color: #7899D4; */

    text-decoration: underline;
}