:root {
  --raisin-black: #202030ff;
  --cornflower-blue: #7899d4ff;
  --davys-grey: #635c51ff;
  --timberwolf: #d5d4caff;
  --isabelline: #E6E6DF;
  --khaki-web: #b0a990ff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--isabelline);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}